[Unit]
Description=Detect the ambient room temperature using an attached TC74 sensor and publish it using MQTT.
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/temp_sensor_tc74/tc74_to_mqtt.py

[Install]
WantedBy=multi-user.target

