[Unit]
Description=Detect the ambient room temperature using an attached temperature sensor and publish it using MQTT.
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/temp-mqtt-publish
ExecStart=/usr/bin/python3 /home/pi/temp-mqtt-publish/temp_to_mqtt.py

[Install]
WantedBy=multi-user.target

